[submodule "external/NEURD"]
	path = external/NEURD
	url = git@github.com:kirjner/NEURD.git
[submodule "external/mesh_tools"]
	path = external/mesh_tools
	url = https://github.com/bacelii/mesh_tools.git
